// This target is only a simulator test runner and is excluded from Archive.
PRODUCT_BUNDLE_IDENTIFIER = com.example.eventspro.UITests
PRODUCT_NAME = $(TARGET_NAME)
SWIFT_VERSION = 5.0
IPHONEOS_DEPLOYMENT_TARGET = 15.0
TARGETED_DEVICE_FAMILY = 1
GENERATE_INFOPLIST_FILE = YES
TEST_TARGET_NAME = App
CODE_SIGN_STYLE = Automatic
